/* Utilidades */
.u-title{
	border-bottom: 2px dashed #00DBFF;
	color: #00CCFF;
	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: .5em;
	text-align: center;
}

/* Main Menu */
.MainMenu{
	background: #1E1E1E;
	height: 3.75em;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #00DBFF;
	line-height: 3.75em;
	margin-right: 1.8em;
	text-decoration: none;
}

.MainMenu-title{
	color: #00DBFF;
	display: inline-block;
	left: 0;
	font-size: 0.7em;
	margin: 0.2em 2em;
	position: absolute;
}

.MainMenu-link2{	
	background: orange !important;
	border-radius: 2em !important;
	color: white !important;
	font-size: 1em !important;
	line-height: 3.75em !important;
	margin-right: 1.8em !important;
	padding: .4em .6em !important;
	text-decoration: none !important;
}

.MainMenu-link2:hover{
	color: gray !important;
}

.MainMenu-link:hover{
	color: white;
}

.MainMenu-user{
	color: white;
	line-height: 3.75em;
	margin-right: 1.8em;
}

.MainMenu-user:hover{
	color: #00DBFF;
}

.MainMenu-panel{
	display: inline-block;
	margin: 0;
	padding: 0;		
}

/* Header */
.Header{
	background-image: url(#{resource['images/portada.jpg']});	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3.75em;
	padding: 1.4em 0;
	text-align: center;
}

.HeaderT{
	margin-top: 3.75em;
	padding: 1.4em 0;
	text-align: center;
}

.Header-imageContainer{
	margin: 0;
}

.Header-image{
	border: 5px solid gray;
	border-radius: 50%;	
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	width: 13em;
}

.Header-image:hover{
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.Header-imageT{
	border-radius: 50%;
	margin: 1em 2em;
	position: absolute;
	right: 0;
	top: 0;
	width: 4em;
}

.Header-name,
.Header-link{
	color: white;
}

.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}

/* Profile */

.Profile{
	text-align: center;
}

.Profile-link{
	background: orange;
	border-radius: 2em;
	color: white;
	margin-right: .5em;
	padding: .5em 1em;
	text-decoration: none;
}

.Profile-service{
	margin: 1em auto;
	padding: 0;
	width: 30em;
}

.Profile-serviceItem{
	display: inline-block;
	margin-bottom: 1em;
	margin-right: 2em;
}

/* Curso */
.Curso{
	margin-top: 2em;
	text-align: center;
}

.Curso-item{
	display: inline-block;
	margin-bottom: 1.8em;
	margin-right: 1.8em;
}

.Curso-image{
	width: 18em;
}

.Curso-imageContainer{
	margin: 0;
}

.Curso-imageDescription{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
	margin-bottom: 1em;
}


/* Footer */
.Footer{
	background-image: url(#{resource['images/footer.jpg']});
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2em 0;
	text-align: center;
}

.Footer-description{
	color: #000;
}

.Footer-form{
	display: inline-block;
	text-align: center;
}

.Footer-left{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 32em;
}

.Footer-title{
	color: white;
}

.Footer-formInput,
.Footer-textarea{
	background: white !important;
	border: 0.5px solid gray !important;
	border-radius: 2em !important;
	display: block !important;
	margin: 0 auto 1em !important;
	padding: .5em !important;
}

.Footer-textarea{
	resize: none;
}

.Footer-button{
	background: #00DBFF !important;
	border: none !important;
	border-radius: 1em !important;
	color: white !important;
	opacity: 0.7 !important;
	padding: .5em 1em !important;
	transition: 0.5s all ease-in-out;
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
}

.Footer-button:hover{
	opacity: 1 !important;
}

.Login-dialogo{
	font-size: 0.8em !important;
}

.Login-dialogo .ui-dialog-titlebar{
	background: rgba(247,183,80,0.8) !important;
}

.Login-input{
	border-radius: 2em;
	margin-top: .5em !important;
	margin-bottom: 1em !important;
}

.footerT{
	background: #1E1E1E;
	color: white;
	height: 3.75em;
	overflow: hidden;
	padding: 0.5em 0 2em 0;
	position: relative;
	text-align: center;
}

.footerT p:first-child{
	margin-bottom: 0;
}

.footerT p:last-child{
	margin-top: 0;
}

.styleMenu{
	background: #E1E0E0;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	font-size: 1em;
	margin-top: -2.8em;
}

.contentModules{
	border: none !important;
	margin: 0 2em;
	text-align: center;
}

.contentModulo{
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 15em;
}

.btnModulo{
	background: rgba(0,219,255,0.6) !important;
	border: 2px solid #e1e1e1 !important;
	border-radius: 20px;
	font-weight: normal !important;
	margin: 1em 0.2em 1em 0 !important;
	padding: 3em 1em !important;
	width: 15em !important;
}

.datos{
	margin-right: 2em;
	padding: 4px;
	width: 15em;
	height: 145px;
	background-color: rgba(255,255,255,0.8);
	color: rgba(F255,255,255,0.8);
	position: absolute;
	cursor: pointer;
	bottom: -108px;
	left: 0px;
	transition: 0.5s all ease-in-out;
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
}

.datos:hover{
	transform: translateY(-124px);
	-webkit-transform: translateY(-124px);
	-moz-transform: translateY(-124px);
}

.datos p:first-child{
	margin-top: 0;
}

.datos p:last-child{
	margin-top: 2em;
}

.b-crear-producto .cont-imagen {
  height: 402px;
  line-height: 400px;
  margin-bottom: 10px;
  border: 1px dashed #000000;
  text-align: center; }
.b-crear-producto .imagen {
  max-width: 400px;
  max-height: 400px;
  vertical-align: middle; }
.b-crear-producto .etiqueta {
  height: 25px;
  line-height: 25px; }
.b-crear-producto .ui-message-error {
  margin: 0px 0px 10px 0px; }
 
 .label {
    font-weight: bold !important;
    float: right !important;
    color: #000000 !important;    
}